parameters:
    level: 9
    paths:
        - src/
    treatPhpDocTypesAsCertain: false
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportStaticMethodSignatures: true
    checkUninitializedProperties: true
    tipsOfTheDay: false